<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weekend Challenge 2</title>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="scripts/client.js" charset="utf-8"></script>
  </head>
  <body>
    <div id='instructions'>
    <h1>Simple Calculator</h1>
    <h2>Instructions:</h2>
    <ol>
      <li>Type a number in both input fields</li>
      <li>Select a mathematical operator</li>
      <li>Answer appears</li>
      <li>Select clear to perform another calculation</li>
        </ol>
  </div>
    <div class="inputField1">
      <input type="text" placeholder="Value" id= 'valueOne'>
    </div>
  </div>
  <div id="field2">
    <input type="text" placeholder="Value" id = 'valueTwo'>
  </div>
    <div id="mathButtons">
      <button id='addition'>+</button>
      <button id='subtract'>-</button>
      <button id='multiply'>*</button>
      <button id='divide'>/</button>
</div>
<button id='clear'>Clear</button>
          <div id='sums'>
          </div>
  </body>
</html>
